body, html {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 11pt;
   /* background-color: #f0f0f0;*/
}
#fullname, .div-range, .btn {
    border-radius: 4px
}

#visibleGroups {
    margin: 10px 0;
}

#visibleGroups .dropdown-menu{
    padding: 10px;
}

/* Общие стили для vis.js объектов */
.vis-timeline {
    background: #f0f0f0;
    /*border: none;*/
}

.vis-item {
    cursor: pointer;
}

.vis-item .vis-item-overflow {
    overflow: visible;
    color: black;
}

.vis-background {
    color: lightgray;
    opacity: 1;
}

.vis-background .vis-item-content{
    font-size: 14pt;
    text-shadow: 1px 1px 2px gray;
    z-index: 50;
}
/*
.vis-background{
    font-size: 14pt;
    text-shadow: 1px 1px 2px gray;
    color: lightgray;
}*/

/* Стили для tab-ов  */
#info_tabs{
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab-content{
    /*background: white;*/
    /*background-color: #f0f0f0;*/
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tab-content h4{
    text-align: center;
    font-size: 16pt;
}

.tab-content div{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 14pt;
}

.closeTab{
    margin-left: 10px;
}