body, html {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 11pt;
}

#fullname, .div-range, .btn {
    border-radius: 4px
}

#filters_btn{
    margin-top: 10px;
}

#fullname {
    display: none;
    position: absolute;
    background: white;
    border: solid 1px #bdbdbd;
    width: 245px;
    font-size: 12px;
    z-index: 50;
}

#eventname {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.dates {
    height: 80px
}

.dates * {
    margin: auto;
    padding: 0.5em 0em 0.5em 0.5em;
    text-align: left;
    font-size: 14px;
}

hr {
    padding: 0px;
    margin: 10px;
    color: #bdbdbd;
    opacity: 0.3;
}

.vis-timeline {
    border: none;
}

.vis-item{
    cursor: pointer;
}
.red {
    color: white;
    background-color: red;
    border-color: darkred;
}
.blue{
    background-color: rgb(66, 133, 244);
    border-color: darkblue;
    color: white;
}

.red:hover, .blue:hover {
    color: black;
    opacity: 0.75;
}


.vis-item .vis-item-overflow {
    overflow: visible;
    color: black;
}

.vis-background {
    color: lightgray;
    opacity: 1;
}

.vis-background:hover {
    color: red;
    opacity: 1
}

form {
    margin: 10px 10%;
}

.form-group {
    margin: 5px 5px;
}

#id_name {
    margin: 10px 0;
    width: 90%;
}